# Lists

- List is a collection of items in sequence.

##### Syntax for creating a list

```
[item1, item2, item3, item4, ...]
```

In [1]:
students = ["Kumar", "Anil", "Prasad", "Naveen", "Srikanth"]
temps = [28.3, 30.8, 32.1, 25.7, 14.5, 20.0, 19.9]
scores = [100, 95, 98, 97, 88, 75]
emp_details = [1001, "Rajesh", "Hyd", True, 35, 48000.0, "HR", "Che"]

In [2]:
students

['Kumar', 'Anil', 'Prasad', 'Naveen', 'Srikanth']

In [3]:
# Create an empty list
marks = []
print(marks)

[]

In [4]:
# A list with default values
scores = [0] * 5
scores

[0, 0, 0, 0, 0]

In [5]:
default_set_of_values = [1, 2, 3] * 4
default_set_of_values

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

##### Refering items in a list
- To refer an item in a list we use index numbers
- Index numbers start from 0.
- To refer first item use 0, second item use 1, third item use 2, and so on.
- To refer items from the last, use -1 to refer last item, -2 to refer second last item, and -3 to refer third item, and so on.

In [6]:
emp_details = [1001, "Rajesh", "Hyd", True]

In [7]:
emp_details[0]  # [] are indexing operators

1001

In [8]:
emp_details[1] # Accessing second item

'Rajesh'

In [9]:
emp_details[2] # Accessing third item

'Hyd'

In [10]:
emp_details[3] # Accessing fourth item

True

In [11]:
# emp_details[4] # throws index error

In [12]:
emp_details = [1001, "Rajesh", "Hyd", True]

In [13]:
emp_details[-1]  # Accessing last item

True

In [14]:
emp_details[-2]  # Accessing second last item

'Hyd'

### An Object
- In Python, everything is an object
- An object can be an int, str, float, bool, list, tuple, set, file, user, computer, etc.
- Every object has two aspects: 
    - attributes (features, characteristics), and
        - variables 
    - methods (functions, or actions)
        - functions
- Using attributes:
    - object.attr   -> to refer
    - object.attr = value -> to set
- Using methods:
    - object.method([args])

### List Methods

In [15]:
emp = [131, "Srinivas", 35]

In [16]:
# the append method
# The append(item) method adds a single item to the end of the list.
emp.append("MKTG")
emp

[131, 'Srinivas', 35, 'MKTG']

In [17]:
emp.append("Bangalore")
emp

[131, 'Srinivas', 35, 'MKTG', 'Bangalore']

In [18]:
emp.append(85000.0)
emp

[131, 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]

#### The insert(index, item)
- Add the specifeid item at the specified index

In [19]:
emp

[131, 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]

In [20]:
emp.insert(0, "COMPANY_ABC")
emp

['COMPANY_ABC', 131, 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]

In [21]:
emp.insert(1, "BRANCH_23")
emp

['COMPANY_ABC', 'BRANCH_23', 131, 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]

In [22]:
emp.insert(5, 131)
print(emp)

['COMPANY_ABC', 'BRANCH_23', 131, 'Srinivas', 35, 131, 'MKTG', 'Bangalore', 85000.0]

#### The remove(item)
- Removes the first occurance of item specified

In [23]:
emp.remove(131)
emp

['COMPANY_ABC', 'BRANCH_23', 'Srinivas', 35, 131, 'MKTG', 'Bangalore', 85000.0]

In [24]:
emp.remove(131)
print(emp)

['COMPANY_ABC', 'BRANCH_23', 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]

#### The `index(item)` method
- This method returns the index number of the specified item.

In [25]:
emp

['COMPANY_ABC', 'BRANCH_23', 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]

In [26]:
emp.index('Srinivas')

2

In [27]:
emp.index(35)

3

### The `pop([index])` method
- If you specify the index number then pop method removes the item at the specified index
- If you don't specify the index number then pop removes the last item from the list
- Before removing the item, it returns and then removes from the list

In [28]:
# list with 10 Indian cities
cities = ["Mumbai", "Delhi", "Bangalore", "Hyderabad",
           "Chennai", "Kolkata", "Pune", "Ahmedabad",
             "Jaipur", "Lucknow"]

In [29]:
cities.pop(7)
cities

['Mumbai',
 'Delhi',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Kolkata',
 'Pune',
 'Jaipur',
 'Lucknow']

In [30]:
cities.pop(2)
print(cities)

['Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Kolkata', 'Pune', 'Jaipur', 'Lucknow']

In [31]:
# removing the last item
cities.pop()
print(cities)

['Mumbai', 'Delhi', 'Hyderabad', 'Chennai', 'Kolkata', 'Pune', 'Jaipur']

In [32]:
# pop returns the removed item
removed_city = cities.pop(1)
print("Removed city:", removed_city)
print("Updated cities list:", cities)

Removed city: Delhi
Updated cities list: ['Mumbai', 'Hyderabad', 'Chennai', 'Kolkata', 'Pune', 'Jaipur']

### The `len(object)` - built-in function
- It is used for counting characters, objects, and items in a sequence or collection

In [33]:
print(emp)
print(len(emp))

['COMPANY_ABC', 'BRANCH_23', 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]
7

### The `in` keyword
- It is a membership keyword
- Used to check whether an item is in the list or not
- Applies to all the sequences
- Sytnax:
    `item in collection`
- If item is in the collection it returns True; otherwise False

In [34]:
emp

['COMPANY_ABC', 'BRANCH_23', 'Srinivas', 35, 'MKTG', 'Bangalore', 85000.0]

In [35]:
'MKTG' in emp

True

In [36]:
if 'MKTG' in emp:
    print("This employee works in the Marketing department")
else:
    print("This employee does not work in the Marketing department")

This employee works in the Marketing department

In [37]:
'HR' in emp

False

### The looping through the items of a list

In [38]:
for item in emp:
    print(item, end=" | ")

COMPANY_ABC | BRANCH_23 | Srinivas | 35 | MKTG | Bangalore | 85000.0 |

## The mutable and immutable objects
### Mutable objects can be changed:
- list
- dict
### Immutable objects cannot be changed:
- int
- float
- bool
- str
- tuple

In [39]:
# the list of 6 Indian individual names
names = ["Amit", "Suman", "Ravi", "Anita", "Priya", "Vikram"]

In [40]:
names[2] = "Jagadeesh"
print(names)

['Amit', 'Suman', 'Jagadeesh', 'Anita', 'Priya', 'Vikram']

In [41]:
# function to work with immutable object
def double_the_number(value):
    value = value * 2
    return value

value = 25
value2 = double_the_number(value)
print("Original value:", value)
print("Doubled value:", value2)

Original value: 25
Doubled value: 50

In [42]:
# function to work with mutable object list
def add_employee(list, item):
    list.append(item)

list = ["Kumar", "Anil", "Prasad"]
add_employee(list, "Naveen")
print(list)

['Kumar', 'Anil', 'Prasad', 'Naveen']

### List of lists
- A list can contain items that are lists
- Such list of lists are used to represent matrices

In [43]:
# A list of lists (matrix) with 4 rows and 5 columns
matrix = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20]
]
matrix

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]

In [44]:
matrix[0]

[1, 2, 3, 4, 5]

In [45]:
matrix[3]

[16, 17, 18, 19, 20]

In [46]:
matrix[1][2] # row-2 column-3 item

8

In [47]:
for row in matrix:
    print(row)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
[16, 17, 18, 19, 20]

In [48]:
for row in matrix:
    print(row[2], end=" ") # print the 3rd column items

3 8 13 18

### The `count(item)` method
- Counts the number of occurances of the item specified, and returns the count number

In [49]:
# list with duplicate string items
names = ["Amit", "Suman", "Vikram", "Anita", "Priya", "Ravi", "Vikram", "Anita", "Ravi"]
print(names.count("Vikram"))

2

In [50]:
names.count("Amit")

1

In [51]:
names.count("Sundeep")

0

### The `reverse()` method
- The reverses the order of the items in a list

In [52]:
# list to demonstrate reverse() method
numbers = [1, 2, 3, 4, 5]

In [53]:
numbers.reverse()
numbers

[5, 4, 3, 2, 1]

### The `sort([key=function][, reverse=False])` method
- We can sort items in a list
- Additionally, using the key parameter can run a function before sorting the item in a list

In [54]:
emp_names = ["Rajesh", "Anita", "Vikram", "Suman", "Priya", "Anand", "aakash", "Vinod", "Vivek"]

In [55]:
emp_names.sort()
print(emp_names)

['Anand', 'Anita', 'Priya', 'Rajesh', 'Suman', 'Vikram', 'Vinod', 'Vivek', 'aakash']

In [56]:
emp_names.sort(key=str.lower)
print(emp_names)

['aakash', 'Anand', 'Anita', 'Priya', 'Rajesh', 'Suman', 'Vikram', 'Vinod', 'Vivek']

In [57]:
emp_names.sort(key=str.lower, reverse=True)
print(emp_names)

['Vivek', 'Vinod', 'Vikram', 'Suman', 'Rajesh', 'Priya', 'Anita', 'Anand', 'aakash']

### The `sorted([key=function])` this returns new sorted list
- Unlike, sort() method, the function creates a new sorted list
- The `sorted()` function is a built-in function
- The optional, key parameter is similar to the key parameter in sort() method

In [59]:
# a list of unsorted strings
unsorted_strings = ["banana", "Apple", "orange", "Mango", "grape", "Pineapple", "kiwi"]
sorted_strings = sorted(unsorted_strings, key=str.upper)
print(sorted_strings)

['Apple', 'banana', 'grape', 'kiwi', 'Mango', 'orange', 'Pineapple']

In [60]:
print(unsorted_strings)  # original list remains unchanged

['banana', 'Apple', 'orange', 'Mango', 'grape', 'Pineapple', 'kiwi']

### The two built-in functions: `min` and `max`
- The min() helps to find the smallest number
- The max() helps to find the largest number

In [61]:
# Create a list of unordered numbers
unordered_numbers = [34, 12, 5, 67, 23, 89, 1, 45]

In [62]:
min_value = min(unordered_numbers)
print(min_value)

1

In [63]:
max_value = max(unordered_numbers)
print(max_value)

89

### The `choice(list)` function from `random` module
- The choice() functions helps to choose one item randomly from a list

In [64]:
# list of fruits
fruits = ["Apple", "Banana", "Mango", "Orange", "Pineapple", "Grapes"]

In [77]:
import random
random.choice(fruits)

'Apple'

### The `shuffle(list)` function from `random` module
- Shuffles items in a given list

In [78]:
import random
fruits = ["Apple", "Banana", "Mango", "Orange", "Pineapple", "Grapes"]

In [93]:
random.shuffle(fruits)
fruits

['Mango', 'Grapes', 'Pineapple', 'Apple', 'Banana', 'Orange']

### Copying lists
- When we use an assignment to make a copy of list by assigning it to another variable, then both variables refer to the same list. This kind of copying is called shallow copy.
- To create a different list we need to use `deepcopy(list)` function from the `copy` module

In [94]:
m = [1, 2, 3, 4]
n = m  # shallow copy

In [95]:
m.append(500)
n

[1, 2, 3, 4, 500]

In [96]:
n[0] = 100
m

[100, 2, 3, 4, 500]

In [97]:
m

[100, 2, 3, 4, 500]

In [98]:
n

[100, 2, 3, 4, 500]

In [99]:
import copy

In [100]:
a = [1, 2, 3, 4]
b = copy.deepcopy(a)

In [101]:
a.append(500)
b

[1, 2, 3, 4]

In [102]:
b[0] = 100
a

[1, 2, 3, 4, 500]

In [103]:
a

[1, 2, 3, 4, 500]

In [104]:
b

[100, 2, 3, 4]

### Slicing a list
- We can slice a list to get a subset of the original list
- Syntax: **my_list[start:end:step]**
    - By defaut, start is 0, step is 1, and end is exclusive

In [105]:
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

In [106]:
numbers[2:8]  # from index 2 to 7

[15, 20, 25, 30, 35, 40]

In [107]:
numbers[:5]  # from start to index 4

[5, 10, 15, 20, 25]

In [109]:
numbers[::2] # every second item from start

[5, 15, 25, 35, 45, 55]

In [ ]:
numbers[1::2] # every second item from index 1

[10, 20, 30, 40, 50, 60]

In [111]:
numbers[:-1:] # all items but not the last item

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]

In [112]:
numbers[::-1] # all items in reverse order

[60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [113]:
numbers[::3]

[5, 20, 35, 50]

### Concatenating lists
- You can concatenate lists similar to strings

In [114]:
books1 = ["Attitude", "One Minute Manager", "Rich Dad Poor Dad", "Winning"]
books2 = ["Python 101", "Linux Operating System", "Shell Programming", "Java"]

In [115]:
books = books1 + books2
print(books)

['Attitude', 'One Minute Manager', 'Rich Dad Poor Dad', 'Winning', 'Python 101', 'Linux Operating System', 'Shell Programming', 'Java']

##### Assignment
- Create 3 lists
- Each with 5 items
- First list with employee names
- Second list with department names
- Third list with salaries
- Combine the three lists into one list of list and then print them something like a table