# Lambda and other functions

## 1. Lambda functions
- A **lambda** is a **small**, **anonymous function** written in one line.
- Syntax:

```
lambda arguments: expression
```

In [1]:
# Example 1: Simple add function
add = lambda x, y: x + y
add(5, 3)

8

In [2]:
# Example 2: Square a number
square = lambda x: x * x
square(10)

100

##### Where lambda is used?
- Temporary small functions
- Used with map(), filter(), and sorted()

## 2. map(function, iterable)
- *map()* applies a function to *each element* of an iterable.

In [4]:
# Example: convert number to squares
nums = [1, 2, 3, 4]
result = map(lambda x: x * x, nums)
list(result)

[1, 4, 9, 16]

In [5]:
# Example: Convert list of strings to integers
data = ["10", "20", "30"]
result = map(int, data)
list(result)

[10, 20, 30]

## 3. filter(function, iterable)
- Returns only items where the function returns **True**.

In [7]:
# Example: Select even numbers
nums = [1, 2, 3, 4, 5, 6]
evens = filter(lambda x: x % 2 == 0, nums)
list(evens)

[2, 4, 6]

## 4. reduce(function, iterable)
- reduce() is in **functools** module
- It reduces a list into **a single unit**

In [8]:
# Example: sum of list
from functools import reduce
nums = [1, 2, 3, 4]

total = reduce(lambda x, y: x+y, nums)
total

10

In [9]:
prod = reduce(lambda x, y: x * y, nums)
prod

24

## List comprehension
- Generate items in a list using a loop

In [10]:
nums = [x for x in range(1, 21)]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
letters = [chr(l) for l in range(65, 91)]
print(letters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']