# WORKING WITH DATE AND TIME VALUES

In [1]:
# these are not date and time values
"2025/12/4"
"4/12/2025"
"12/4/2025"
"11:45:00"

'11:45:00'

### The `datetime` module
- The *datetime* module contains three constructs:
    1. The *date* constructor to construct dates
    2. The *time* constructor to construct times
    3. The *datetime* constructor to construct datetimes
- Import **datetime** module: `import datetime`

In [2]:
# import datetime             # import the module
# from datetime import date   # import date construct from datetime module
# from datetime import time   # import time construct from datetime module
# from datetime import datetime # import datetime construct from datetime module
# Instead of the above 3 lines use the one following line:
from datetime import date, time, datetime

#### The `date` construct to create date values
- Syntax:

```
date(year, month, day)
```

In [3]:
date(2025, 12, 4)

datetime.date(2025, 12, 4)

In [4]:
print(date(2025, 12, 4))

2025-12-04

In [5]:
## for current date (today's date)
date.today()

datetime.date(2025, 12, 5)

#### The `time` construct
- Used to create a time value
- Syntax:

```
time([hour, ][, min][, sec][, microsec])
```

In [6]:
login_time = time(10,30,0)
login_time

datetime.time(10, 30)

In [7]:
logout_time = time(7, 45, 23, 89945)
logout_time

datetime.time(7, 45, 23, 89945)

#### The `datetime` construct
- To construct date along with time
- Syntax:

```
datetime(year, month, day [, hour][, min][, sec][, microsec])
```

In [8]:
datetime(1947, 8, 15, 1, 30)

datetime.datetime(1947, 8, 15, 1, 30)

In [9]:
## finding the current date and time
now = datetime.now()
now

datetime.datetime(2025, 12, 5, 11, 31, 25, 115006)

In [10]:
appointment_time = datetime(2025, 12, 6, 10, 45)
appointment_time

datetime.datetime(2025, 12, 6, 10, 45)

#### The `strptime(datetime_str, format_str)` method from datatime construct
- The 'p' in *strptime* stands for _parse_
- The method helps to convert a string to date value
- The *datetime_str* parameter is date/time/datetime in text format
- The *format_str* parameter is the code to format the text string

##### Format codes:
- %d: day number
- %m: month number
- %y: 2-digit year
- %Y: 4-digit year
- %H: hours (24-hours)
- %I: hours (12-hours format)
- %M: minutes
- %S: seconds
- %p: AM/PM specifier

In [12]:
dt1 = "2025/5/20"
dt1 = datetime.strptime(dt1, "%Y/%m/%d")
print(dt1)

2025-05-20 00:00:00

In [13]:
dt2 = "18/3/1980"
dt2 = datetime.strptime(dt2, "%d/%m/%Y")
print(dt2)

1980-03-18 00:00:00

In [14]:
dt3 = "2005-11/27 and 11:30"
dt3 = datetime.strptime(dt3, "%Y-%m/%d and %H:%M")
print(dt3)

2005-11-27 11:30:00

In [16]:
dt4 = "In the year 2007, in the 8th month, on 4th day, I was at Paradise hotel at 11 hours 45 minutes"
dt4 = datetime.strptime(dt4, "In the year %Y, in the %mth month, on %dth day, I was at Paradise hotel at %H hours %M minutes")
print(dt4)

2007-08-04 11:45:00

#### The `strftime(format_str)` method
- This method formats a date/time/datetime value accoring to the specified `format_str`
- The format codes are ...
    - %a: short weekday name (Sun, Mon, Tue...)
    - %A: full weekday name (Sunday, Monday, Tuesday, ...)
    - %b: short month name (Jan, Feb, Mar, ...)
    - %B: full month name (January, February, March, ...)
    - %d: zero-padded day number (01 - 31)
    - %m: zero-padded month number (01 - 12)
    - %Y: four digit year number
    - %y: two digit year number
    - %H: 24-hours Hour Format
    - %I: 12-hours hour format
    - %M: Minutes
    - %S: Seconds
    - %p: AM/PM Specifier
    - %f: microseconds

In [17]:
date1 = date(2025, 1, 25)
date1.strftime("%A - %b %d, %Y")

'Saturday - Jan 25, 2025'

In [18]:
date1 = date(2025, 1, 25)
date1.strftime("%Y/%m/%d (%a)")

'2025/01/25 (Sat)'

In [20]:
datetime2 = datetime(2010, 7, 25, 14, 30, 45)
datetime2.strftime("%Y-%m-%d")

'2010-07-25'

In [22]:
datetime2 = datetime(2010, 7, 25, 14, 30, 45)
datetime2.strftime("Special day and time: %d %m %Y (day) ... %H:%M %p (time)")

'Special day and time: 25 07 2010 (day) ... 14:30 PM (time)'

In [23]:
datetime2 = datetime(2010, 7, 25, 14, 30, 45)
datetime2.strftime("Special day and time: %d %m %Y (day) ... %I:%M %p (time)")

'Special day and time: 25 07 2010 (day) ... 02:30 PM (time)'

In [24]:
datetime2 = datetime(2010, 7, 25, 14, 30, 45)
datetime2.strftime("%I:%M %p")

'02:30 PM'

In [25]:
datetime2 = datetime(2010, 7, 25, 14, 30, 45)
datetime2.strftime("%B %d")

'July 25'

### Working with span of time using `timedelta` construct
- A timedelta object stores a span of time
- We can also get span of time by subtracting two date/time/datetime values
- The *timedelta* object returns *days*, *seconds* and *microseconds*
- Syntax:

```
timedelta([days, ][, seconds][, microseconds][, milliseconds][, minutes][, hours][, weeks])
```

- Import timedelta construct from datetime module: `from datetime import timedelta`

In [27]:
num_of_days = date(2024, 10, 15) - date(2020, 10, 11)
print(num_of_days)

1465 days, 0:00:00

In [28]:
from datetime import timedelta

In [30]:
project_duration = timedelta(weeks=11)
print(project_duration)

77 days, 0:00:00

In [31]:
start_date = date(2025, 12, 8)
end_date = start_date + project_duration
print("End date of project:", end_date)

End date of project: 2026-02-23

In [32]:
travel = timedelta(weeks=7, days=4, hours=8, minutes=15, seconds=12)
print(travel)

53 days, 8:15:12

In [34]:
# days attribute of timedelta object returns total days
travel.days

53

In [35]:
# seconds attribute of timedelta object returns total seconds after days
travel.seconds

29712

In [36]:
# microseconds attribute returns microseconds after days and seconds
travel.microseconds

0

In [37]:
# total_seconds() method returns total seconds in a timedelta object
travel.total_seconds()

4608912.0

In [38]:
time_duration = timedelta(weeks=30, days=6, hours=5, minutes=18, seconds=25, microseconds=100)
# days attribute
print("Days:", time_duration.days)
# seconds attribute
print("Seconds after days:", time_duration.seconds)
# microseconds attribute
print("Microseconds after days, and seconds:", time_duration.microseconds)
# total_seconds() method
print("Total seconds:", time_duration.total_seconds())

Days: 216
Seconds after days: 19105
Microseconds after days, and seconds: 100
Total seconds: 18681505.0001

### Some read-only attributes of date/time/datetime object:
- year: returns year number
- month: returns month number
- day: returns day number
- hour: returns hour number
- minute: returns mintue number
- second: returns second number
- microsecond: returns microsecond number

In [39]:
dt_value = datetime(2025, 11, 29, 15, 47, 34, 10008)

In [40]:
dt_value.year

2025

In [41]:
dt_value.month

11

In [42]:
dt_value.day

29

In [43]:
dt_value.hour

15

In [44]:
dt_value.minute

47

In [45]:
dt_value.second

34

In [46]:
dt_value.microsecond

10008