# Lists

- List is a collection of items in sequence.

##### Syntax for creating a list

```
[item1, item2, item3, item4, ...]
```

In [2]:
students = ["Kumar", "Anil", "Prasad", "Naveen", "Srikanth"]
temps = [28.3, 30.8, 32.1, 25.7, 14.5, 20.0, 19.9]
scores = [100, 95, 98, 97, 88, 75]
emp_details = [1001, "Rajesh", "Hyd", True, 35, 48000.0, "HR", "Che"]

In [3]:
students

['Kumar', 'Anil', 'Prasad', 'Naveen', 'Srikanth']