# PIVOTING AND RESHAPING DATA

In [1]:
import numpy as np
import pandas as pd

In [5]:
sales = pd.read_csv("./data/sales_by_employee.csv", parse_dates=["Date"])
sales

C:\Users\singa\AppData\Local\Temp\ipykernel_13684\922729750.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales = pd.read_csv("./data/sales_by_employee.csv", parse_dates=["Date"])

         Date     Name           Customer  Revenue  Expenses
0  2020-01-01    Oscar      Logistics XYZ     5250       531
1  2020-01-01    Oscar        Money Corp.     4406       661
2  2020-01-02    Oscar         PaperMaven     8661      1401
3  2020-01-03    Oscar        PaperGenius     7075       906
4  2020-01-04    Oscar        Paper Pound     2524      1767
5  2020-01-05    Oscar        Paper Pound     2793       624
6  2020-01-01  Michael      Logistics XYZ     7172       412
7  2020-01-02  Michael        PaperGenius     6362       685
8  2020-01-03  Michael        PaperGenius     5982      1772
9  2020-01-04  Michael     Best Paper Co.     7917      1857
10 2020-01-05  Michael     Best Paper Co.     7837      1633
11 2020-01-01      Jim        PaperGenius     1864      1305
12 2020-01-02      Jim        Money Corp.     8278       462
13 2020-01-03      Jim        Paper Pound     4226      1923
14 2020-01-04      Jim         PaperMaven     3868      1889
15 2020-01-04      Jim  Average Paper Co.     2287       426
16 2020-01-01   Dwight        PaperGenius     2639       368
17 2020-01-03   Dwight      Logistics XYZ     4951       758
18 2020-01-03   Dwight     Best Paper Co.     2703      1321
19 2020-01-03   Dwight      Logistics XYZ     4258      1202
20 2020-01-05   Dwight        Paper Pound     7771      1475
21 2020-01-01    Creed        Money Corp.     4430       548
22 2020-01-02    Creed  Average Paper Co.     8026      1906
23 2020-01-02    Creed  Average Paper Co.     5188      1768
24 2020-01-04    Creed         PaperMaven     3144      1314
25 2020-01-05    Creed        Money Corp.      938      1053

In [6]:
# Create a pivot table using pivot_table() method
sales.pivot_table(
    index="Date",
    values="Revenue",
    aggfunc="sum"
)

            Revenue
Date
2020-01-01    25761
2020-01-02    36515
2020-01-03    29195
2020-01-04    19740
2020-01-05    19339

In [7]:
# Create a pivot table using pivot_table() method
sales.pivot_table(
    index="Date",
    values="Revenue",
    aggfunc="mean"
)

                Revenue
Date
2020-01-01  4293.500000
2020-01-02  7303.000000
2020-01-03  4865.833333
2020-01-04  3948.000000
2020-01-05  4834.750000

In [10]:
sales.pivot_table(
    index="Date",
    values="Revenue",
    aggfunc=["sum", "mean", "count", "min", "max"]
)

               sum         mean   count     min     max
           Revenue      Revenue Revenue Revenue Revenue
Date
2020-01-01   25761  4293.500000       6    1864    7172
2020-01-02   36515  7303.000000       5    5188    8661
2020-01-03   29195  4865.833333       6    2703    7075
2020-01-04   19740  3948.000000       5    2287    7917
2020-01-05   19339  4834.750000       4     938    7837

In [13]:
sales.pivot_table(
    index=["Date", "Customer"],
    values="Revenue",
    aggfunc=["sum", "mean"]
)

                                 sum    mean
                             Revenue Revenue
Date       Customer
2020-01-01 Logistics XYZ       12422  6211.0
           Money Corp.          8836  4418.0
           PaperGenius          4503  2251.5
2020-01-02 Average Paper Co.   13214  6607.0
           Money Corp.          8278  8278.0
           PaperGenius          6362  6362.0
           PaperMaven           8661  8661.0
2020-01-03 Best Paper Co.       2703  2703.0
           Logistics XYZ        9209  4604.5
           Paper Pound          4226  4226.0
           PaperGenius         13057  6528.5
2020-01-04 Average Paper Co.    2287  2287.0
           Best Paper Co.       7917  7917.0
           Paper Pound          2524  2524.0
           PaperMaven           7012  3506.0
2020-01-05 Best Paper Co.       7837  7837.0
           Money Corp.           938   938.0
           Paper Pound         10564  5282.0

In [15]:
sales.pivot_table(
    index="Date",
    columns="Customer",
    values="Revenue",
    aggfunc="mean"
)

Customer,Average Paper Co.,Best Paper Co.,Logistics XYZ,Money Corp.,Paper Pound,PaperGenius,PaperMaven
Date,,,,,,,
2020-01-01,NaN,NaN,6211.0,4418.0,NaN,2251.5,NaN
2020-01-02,6607.0,NaN,NaN,8278.0,NaN,6362.0,8661.0
2020-01-03,NaN,2703.0,4604.5,NaN,4226.0,6528.5,NaN
2020-01-04,2287.0,7917.0,NaN,NaN,2524.0,NaN,3506.0
2020-01-05,NaN,7837.0,NaN,938.0,5282.0,NaN,NaN

In [17]:
sales.pivot_table(
    index="Date",
    columns="Customer",
    values="Revenue",
    aggfunc="mean",
    fill_value = ""
)

Customer,Average Paper Co.,Best Paper Co.,Logistics XYZ,Money Corp.,Paper Pound,PaperGenius,PaperMaven
Date,,,,,,,
2020-01-01,,,6211.0,4418.0,,2251.5,
2020-01-02,6607.0,,,8278.0,,6362.0,8661.0
2020-01-03,,2703.0,4604.5,,4226.0,6528.5,
2020-01-04,2287.0,7917.0,,,2524.0,,3506.0
2020-01-05,,7837.0,,938.0,5282.0,,