# WORKING WITH TEXT

In [59]:
import numpy as np
import pandas as pd

In [60]:
# getting the data
inspections = pd.read_csv("./data/chicago_food_inspections.csv")
inspections.head()

                          Name             Risk
0   MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                  JETS PIZZA   Risk 2 (Medium)
2                   ROOM 1520      Risk 3 (Low)
3    MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                CHARTWELLS       Risk 1 (High)

In [61]:
inspections["Name"].values

array([' MARRIOT MARQUIS CHICAGO   ', ' JETS PIZZA ', '   ROOM 1520 ',
       ..., ' Cafe 608 ', "  mr.daniel's ", '   TEMPO CAFE '],
      shape=(153810,), dtype=object)

In [62]:
inspections["Name"].str     # str is string accessor

In [63]:
inspections["Name"] = inspections["Name"].str.strip()

In [64]:
inspections.columns     # lists all the columns

Index(['Name', 'Risk'], dtype='object')

In [65]:
# stripping of extra spaces from each column
for col in inspections.columns:
    inspections[col] = inspections[col].str.strip()

In [66]:
inspections["Name"].str.lower()
inspections["Name"].str.upper()
inspections["Name"] = inspections["Name"].str.title()
inspections["Name"]

0              Marriot Marquis Chicago
1                           Jets Pizza
2                            Room 1520
3              Marriot Marquis Chicago
4                           Chartwells
                      ...
153805                       Wolcott'S
153806    Dunkin Donuts/Baskin-Robbins
153807                        Cafe 608
153808                     Mr.Daniel'S
153809                      Tempo Cafe
Name: Name, Length: 153810, dtype: object

### String Slicing

In [67]:
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)', 'All', nan],
      dtype=object)

In [68]:
inspections["Risk"] = inspections["Risk"].replace(
    to_replace="All", value="Risk 4 (Extreme)"
)
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)',
       'Risk 4 (Extreme)', nan], dtype=object)

In [69]:
# counting all the missing values (nan)
inspections["Risk"].isnull().sum()

np.int64(66)

In [70]:
len(inspections)        # total rows

153810

In [71]:
inspections = inspections.dropna()
len(inspections)

153744

In [72]:
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)',
       'Risk 4 (Extreme)'], dtype=object)

In [73]:
inspections["Risk"].str.slice(8, -1)
inspections["Risk"].str[8:-1]
inspections["Risk"] = inspections["Risk"].str.slice(8, -1)
inspections.head()

                      Name    Risk
0  Marriot Marquis Chicago    High
1               Jets Pizza  Medium
2                Room 1520     Low
3  Marriot Marquis Chicago    High
4               Chartwells    High