# GroupBy for Grouping Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
# loading the dataset
fortune = pd.read_csv("./data/fortune1000.csv")
fortune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Revenues   1000 non-null   float64
 2   Profits    998 non-null    float64
 3   Employees  1000 non-null   int64
 4   Sector     1000 non-null   object
 5   Industry   1000 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

In [3]:
fortune["Sector"].nunique()

21

In [4]:
fortune["Industry"].nunique()

74

In [5]:
## companies -> Industries -> sectors

In [6]:
# groupby method to group the data (rows) based on one or more columns
sectors = fortune.groupby("Sector")

In [7]:
# see all the sectors
# sectors.groups    # to access groups
# loop through each group
for sector in sectors.groups:
    print(sector)

Aerospace & Defense
Apparel
Business Services
Chemicals
Energy
Engineering & Construction
Financials
Food &  Drug Stores
Food, Beverages & Tobacco
Health Care
Hotels, Restaurants & Leisure
Household Products
Industrials
Materials
Media
Motor Vehicles & Parts
Retailing
Technology
Telecommunications
Transportation
Wholesalers

In [8]:
# first occurance of each sector from the dataset
sectors.first()

,Company,Revenues,Profits,Employees,Industry
Sector,,,,,
Aerospace & Defense,Boeing,93392.0,8197.0,140800,Aerospace and Defense
Apparel,Nike,34350.0,4240.0,74400,Apparel
Business Services,ManpowerGroup,21034.0,545.4,29000,Temporary Help
Chemicals,DowDuPont,62683.0,1460.0,98000,Chemicals
Energy,Exxon Mobil,244363.0,19710.0,71200,Petroleum Refining
Engineering & Construction,Fluor,19521.0,191.4,56706,"Engineering, Construction"
Financials,Berkshire Hathaway,242137.0,44940.0,377000,Insurance: Property and Casualty (Stock)
Food & Drug Stores,Kroger,122662.0,1907.0,449000,Food and Drug Stores
"Food, Beverages & Tobacco",PepsiCo,63525.0,4857.0,263000,Food Consumer Products
Health Care,UnitedHealth Group,201159.0,10558.0,260000,Health Care: Insurance and Managed Care
"Hotels, Restaurants & Leisure",Marriott International,22894.0,1372.0,177000,"Hotels, Casinos, Resorts"
Household Products,Procter & Gamble,66217.0,15326.0,95000,Household and Personal Products
Industrials,General Electric,122274.0,-5786.0,313000,Industrial Machinery
Materials,International Paper,23302.0,2144.0,56000,"Packaging, Containers"
Media,Disney,55137.0,8980.0,199000,Entertainment
Motor Vehicles & Parts,General Motors,157311.0,-3864.0,180000,Motor Vehicles and Parts
Retailing,Walmart,500343.0,9862.0,2300000,General Merchandisers
Technology,Apple,229234.0,48351.0,123000,"Computers, Office Equipment"
Telecommunications,AT&T,160546.0,29450.0,254000,Telecommunications
Transportation,UPS,65872.0,4910.0,346415,"Mail, Package, and Freight Delivery"
Wholesalers,McKesson,198533.0,5070.0,64500,Wholesalers: Health Care

In [9]:
# last occurance of each sector from the dataset
sectors.last()

,Company,Revenues,Profits,Employees,Industry
Sector,,,,,
Aerospace & Defense,Aerojet Rocketdyne Holdings,1877.0,-9.2,5157,Aerospace and Defense
Apparel,Wolverine World Wide,2350.0,0.3,3700,Apparel
Business Services,CoreLogic,1851.0,152.2,5900,Financial Data Services
Chemicals,Stepan,1925.0,91.6,2096,Chemicals
Energy,Superior Energy Services,1874.0,-205.9,6400,"Oil and Gas Equipment, Services"
Engineering & Construction,TopBuild,1906.0,158.1,8400,"Engineering, Construction"
Financials,HCP,1848.0,414.2,190,Real estate
Food & Drug Stores,Freds,2064.0,-140.3,7324,Food and Drug Stores
"Food, Beverages & Tobacco",Universal,2071.0,106.3,24000,Tobacco
Health Care,Ensign Group,1849.0,40.5,21301,Health Care: Medical Facilities
"Hotels, Restaurants & Leisure",Vail Resorts,1907.0,210.6,20150,"Hotels, Casinos, Resorts"
Household Products,ACCO Brands,1949.0,131.7,6620,"Home Equipment, Furnishings"
Industrials,Rexnord,1918.0,74.1,8000,Industrial Machinery
Materials,Summit Materials,1933.0,121.8,6000,"Building Materials, Glass"
Media,Tribune Media,1867.0,194.1,6000,Entertainment
Motor Vehicles & Parts,Tower International,2066.0,47.6,7600,Motor Vehicles and Parts
Retailing,Childrens Place,1870.0,84.7,9800,Specialty Retailers: Apparel
Technology,VeriFone Systems,1871.0,-173.8,5600,Financial Data Services
Telecommunications,Zayo Group Holdings,2200.0,85.7,3794,Telecommunications
Transportation,Echo Global Logistics,1943.0,12.6,2453,Transportation and Logistics
Wholesalers,SiteOne Landscape Supply,1862.0,54.6,3664,Wholesalers: Diversified

In [10]:
# nth occurance of each sector from the dataset
sectors.nth(0)      # first occurance
sectors.nth(1)      # second occurance
sectors.nth(2)      # third occurance

,Company,Revenues,Profits,Employees,Sector,Industry
13,Cardinal Health,129976.0,1288.0,40400,Wholesalers,Wholesalers: Health Care
14,Costco,129025.0,2679.0,182000,Retailing,General Merchandisers
20,Fannie Mae,112394.0,2463.0,7200,Financials,Diversified Financials
24,Express Scripts Holding,100065.0,4517.4,26600,Health Care,Health Care: Pharmacy and Other Services
27,Phillips 66,91568.0,5106.0,14600,Energy,Petroleum Refining
29,Microsoft,89950.0,21204.0,124000,Technology,Computer Software
32,Comcast,84526.0,22714.0,164000,Telecommunications,Telecommunications
52,Albertsons Cos.,59678.0,-373.3,273000,Food & Drug Stores,Food and Drug Stores
58,Lockheed Martin,51048.0,2002.0,100000,Aerospace & Defense,Aerospace and Defense
70,American Airlines Group,42207.0,1919.0,126600,Transportation,Airlines
76,Honeywell International,40534.0,1655.0,131000,Industrials,"Electronics, Electrical Equip."
79,Tyson Foods,38260.0,1774.0,122000,"Food, Beverages & Tobacco",Food Production
108,Twenty-First Century Fox,28500.0,2952.0,21700,Media,Entertainment
131,Starbucks,22387.0,2884.7,277000,"Hotels, Restaurants & Leisure",Food Services
147,Lear,20467.0,1313.4,165000,Motor Vehicles & Parts,Motor Vehicles and Parts
183,Colgate-Palmolive,15454.0,2024.0,35900,Household Products,Household and Personal Products
187,Omnicom Group,15274.0,1088.4,77300,Business Services,"Advertising, marketing"
190,PPG Industries,14967.0,1591.0,47200,Chemicals,Chemicals
193,WestRock,14860.0,708.2,44800,Materials,"Packaging, Containers"
210,D.R. Horton,14091.0,1038.4,7735,Engineering & Construction,Homebuilders
331,PVH,8915.0,537.8,28050,Apparel,Apparel

In [11]:
# first n-occurances of each sector
sectors.head(2)

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care
5,McKesson,198533.0,5070.0,64500,Wholesalers,Wholesalers: Health Care
6,CVS Health,184765.0,6622.0,203000,Health Care,Health Care: Pharmacy and Other Services
7,Amazon.com,177866.0,3033.0,566000,Retailing,Internet Services and Retailing
8,AT&T,160546.0,29450.0,254000,Telecommunications,Telecommunications
9,General Motors,157311.0,-3864.0,180000,Motor Vehicles & Parts,Motor Vehicles and Parts
10,Ford Motor,156776.0,7602.0,202000,Motor Vehicles & Parts,Motor Vehicles and Parts
11,AmerisourceBergen,153144.0,364.5,19500,Wholesalers,Wholesalers: Health Care
12,Chevron,134533.0,9195.0,51900,Energy,Petroleum Refining
15,Verizon,126034.0,30101.0,155400,Telecommunications,Telecommunications
16,Kroger,122662.0,1907.0,449000,Food & Drug Stores,Food and Drug Stores
17,General Electric,122274.0,-5786.0,313000,Industrials,Industrial Machinery
18,Walgreens Boots Alliance,118214.0,4078.0,290000,Food & Drug Stores,Food and Drug Stores
19,JPMorgan Chase,113899.0,24441.0,252539,Financials,Commercial Banks
21,Alphabet,110855.0,12662.0,80110,Technology,Internet Services and Retailing
26,Boeing,93392.0,8197.0,140800,Aerospace & Defense,Aerospace and Defense
41,Procter & Gamble,66217.0,15326.0,95000,Household Products,Household and Personal Products
43,UPS,65872.0,4910.0,346415,Transportation,"Mail, Package, and Freight Delivery"
44,PepsiCo,63525.0,4857.0,263000,"Food, Beverages & Tobacco",Food Consumer Products
46,DowDuPont,62683.0,1460.0,98000,Chemicals,Chemicals
47,Archer Daniels Midland,60828.0,1595.0,31300,"Food, Beverages & Tobacco",Food Production
49,FedEx,60319.0,2997.0,357000,Transportation,"Mail, Package, and Freight Delivery"
50,United Technologies,59837.0,4552.0,204700,Aerospace & Defense,Aerospace and Defense
54,Disney,55137.0,8980.0,199000,Media,Entertainment
64,Caterpillar,45462.0,754.0,98400,Industrials,Construction and Farm Machinery
88,Nike,34350.0,4240.0,74400,Apparel,Apparel
97,Time Warner,31271.0,5247.0,26000,Media,Entertainment
123,International Paper,23302.0,2144.0,56000,Materials,"Packaging, Containers"
126,Marriott International,22894.0,1372.0,177000,"Hotels, Restaurants & Leisure","Hotels, Casinos, Resorts"
130,McDonalds,22820.0,5192.3,235000,"Hotels, Restaurants & Leisure",Food Services
142,ManpowerGroup,21034.0,545.4,29000,Business Services,Temporary Help
150,Nucor,20252.0,1318.7,25100,Materials,Metals
152,Fluor,19521.0,191.4,56706,Engineering & Construction,"Engineering, Construction"
160,Visa,18358.0,6699.0,15000,Business Services,Financial Data Services
162,Kimberly-Clark,18259.0,2278.0,42000,Household Products,Household and Personal Products
163,AECOM,18203.0,339.4,87000,Engineering & Construction,"Engineering, Construction"
189,Sherwin-Williams,14984.0,1772.3,52695,Chemicals,Chemicals
241,VF,12400.0,614.9,69000,Apparel,Apparel

In [12]:
# use get_group() method to get a specific group information
sectors.get_group("Energy")

,Company,Revenues,Profits,Employees,Sector,Industry
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
12,Chevron,134533.0,9195.0,51900,Energy,Petroleum Refining
27,Phillips 66,91568.0,5106.0,14600,Energy,Petroleum Refining
30,Valero Energy,88407.0,4065.0,10015,Energy,Petroleum Refining
40,Marathon Petroleum,67610.0,3432.0,43800,Energy,Petroleum Refining
...,...,...,...,...,...,...
953,California Resources,2006.0,-266.0,1450,Energy,"Mining, Crude-Oil Production"
976,Ferrellgas Partners,1930.0,-54.2,3891,Energy,Energy
979,Oceaneering International,1922.0,166.4,8200,Energy,"Oil and Gas Equipment, Services"
980,Cimarex Energy,1918.0,494.3,910,Energy,"Mining, Crude-Oil Production"
990,Superior Energy Services,1874.0,-205.9,6400,Energy,"Oil and Gas Equipment, Services"

In [13]:
# applying aggregate functions
sectors.sum()       # mean() / min() / max()

,Company,Revenues,Profits,Employees,Industry
Sector,,,,,
Aerospace & Defense,BoeingUnited TechnologiesLockheed MartinGenera...,383835.0,26733.5,1010124,Aerospace and DefenseAerospace and DefenseAero...
Apparel,NikeVFPVHRalph LaurenHanesbrandsUnder ArmourLe...,101157.3,6350.7,355699,ApparelApparelApparelApparelApparelApparelAppa...
Business Services,ManpowerGroupVisaOmnicom GroupAramarkWaste Man...,316090.0,37179.2,1593999,Temporary HelpFinancial Data ServicesAdvertisi...
Chemicals,DowDuPontSherwin-WilliamsPPG IndustriesMonsant...,251151.0,20475.0,474020,ChemicalsChemicalsChemicalsChemicalsChemicalsC...
Energy,Exxon MobilChevronPhillips 66Valero EnergyMara...,1543507.2,85369.6,981207,Petroleum RefiningPetroleum RefiningPetroleum ...
Engineering & Construction,FluorAECOMD.R. HortonLennarJacobs Engineering ...,172782.0,7121.0,420745,"Engineering, ConstructionEngineering, Construc..."
Financials,Berkshire HathawayJPMorgan ChaseFannie MaeBank...,2442480.0,264253.5,3500119,Insurance: Property and Casualty (Stock)Commer...
Food & Drug Stores,KrogerWalgreens Boots AllianceAlbertsons Cos.P...,405468.0,8440.3,1398074,Food and Drug StoresFood and Drug StoresFood a...
"Food, Beverages & Tobacco",PepsiCoArcher Daniels MidlandTyson FoodsCoca-C...,510232.0,54902.5,1079316,Food Consumer ProductsFood ProductionFood Prod...
Health Care,UnitedHealth GroupCVS HealthExpress Scripts Ho...,1507991.4,92791.1,2971189,Health Care: Insurance and Managed CareHealth ...
"Hotels, Restaurants & Leisure",Marriott InternationalMcDonaldsStarbucksLas Ve...,179825.0,21305.5,2304337,"Hotels, Casinos, ResortsFood ServicesFood Serv..."
Household Products,Procter & GambleKimberly-ClarkColgate-Palmoliv...,231779.8,27726.8,674896,Household and Personal ProductsHousehold and P...
Industrials,General ElectricCaterpillarHoneywell Internati...,520140.0,19114.3,1566110,Industrial MachineryConstruction and Farm Mach...
Materials,International PaperNucorWestRockUnited States ...,278298.0,13730.4,653751,"Packaging, ContainersMetalsPackaging, Containe..."
Media,DisneyTime WarnerTwenty-First Century FoxCBSVi...,230487.4,23019.9,545985,EntertainmentEntertainmentEntertainmentEnterta...
Motor Vehicles & Parts,General MotorsFord MotorLearGoodyear Tire & Ru...,433535.0,6861.1,943582,Motor Vehicles and PartsMotor Vehicles and Par...
Retailing,WalmartAmazon.comCostcoHome DepotTargetLowesBe...,1684353.0,55707.2,6800658,General MerchandisersInternet Services and Ret...
Technology,AppleAlphabetMicrosoftIBMDell TechnologiesInte...,1374822.3,177883.9,3196807,"Computers, Office EquipmentInternet Services a..."
Telecommunications,AT&TVerizonComcastCharter CommunicationsCentur...,466959.0,91965.8,785609,TelecommunicationsTelecommunicationsTelecommun...
Transportation,UPSFedExAmerican Airlines GroupDelta Air Lines...,455160.0,52960.3,1652113,"Mail, Package, and Freight DeliveryMail, Packa..."
Wholesalers,McKessonAmerisourceBergenCardinal HealthSyscoT...,888149.0,15657.4,744175,Wholesalers: Health CareWholesalers: Health Ca...

In [14]:
# applying aggregate functions on a groupby object on a specific numeric column
sectors["Revenues"].sum()       # mean() / max() / min()

Sector
Aerospace & Defense               383835.0
Apparel                           101157.3
Business Services                 316090.0
Chemicals                         251151.0
Energy                           1543507.2
Engineering & Construction        172782.0
Financials                       2442480.0
Food &  Drug Stores               405468.0
Food, Beverages & Tobacco         510232.0
Health Care                      1507991.4
Hotels, Restaurants & Leisure     179825.0
Household Products                231779.8
Industrials                       520140.0
Materials                         278298.0
Media                             230487.4
Motor Vehicles & Parts            433535.0
Retailing                        1684353.0
Technology                       1374822.3
Telecommunications                466959.0
Transportation                    455160.0
Wholesalers                       888149.0
Name: Revenues, dtype: float64

In [16]:
# applying different aggregate functions to different numeric columns
aggregations = {
    "Revenues": "max",
    "Profits": "min",
    "Employees": "mean"
}
sectors.agg(aggregations)

                               Revenues  Profits      Employees
Sector
Aerospace & Defense             93392.0    -74.0   40404.960000
Apparel                         34350.0   -478.2   25407.071429
Business Services               21034.0   -557.1   30075.452830
Chemicals                       62683.0   -296.2   14364.242424
Energy                         244363.0  -5723.0    9170.158879
Engineering & Construction      19521.0   -332.2   15583.148148
Financials                     242137.0  -6798.0   22581.412903
Food &  Drug Stores            122662.0   -373.3  116506.166667
Food, Beverages & Tobacco       63525.0   -286.2   29170.702703
Health Care                    201159.0  -2459.0   41847.732394
Hotels, Restaurants & Leisure   22894.0   -375.0   88628.346154
Household Products              66217.0  -1053.8   24103.428571
Industrials                    122274.0  -5786.0   31961.428571
Materials                       23302.0   -258.0   14527.800000
Media                           55137.0   -738.0   21839.400000
Motor Vehicles & Parts         157311.0  -3864.0   49662.210526
Retailing                      500343.0  -1067.3   88320.233766
Technology                     229234.0  -3728.0   31036.961165
Telecommunications             160546.0  -2116.6   78560.900000
Transportation                  65872.0   -106.7   41302.825000
Wholesalers                    198533.0   -267.0   16913.068182

In [18]:
# groupby dataset based on two columns: Sector and Industry
sector_and_industry = fortune.groupby(by=["Sector", "Industry"])
sector_and_industry

In [19]:
sector_and_industry.get_group(("Business Services", "Education"))

,Company,Revenues,Profits,Employees,Sector,Industry
567,Laureate Education,4378.0,91.5,54500,Business Services,Education
810,Graham Holdings,2592.0,302.0,16153,Business Services,Education

In [20]:
sector_and_industry.sum()   # mean() / min(), max()

                                                                                                             Company  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          BoeingUnited TechnologiesLockheed MartinGenera...
Apparel             Apparel                                        NikeVFPVHRalph LaurenHanesbrandsUnder ArmourLe...
Business Services   Advertising, marketing                                            Omnicom GroupInterpublic Group
                    Diversified Outsourcing Services               AramarkADPConduentABM IndustriesCintasADTIron ...
                    Education                                                      Laureate EducationGraham Holdings
...                                                                                                              ...
Transportation      Trucking, Truck Leasing                        Ryder SystemJ.B. Hunt Transport ServicesYRC Wo...
Wholesalers         Wholesalers: Diversified                       Genuine PartsW.W. GraingerLKQGlobal PartnersVe...
                    Wholesalers: Electronics and Office Equipment  Tech DataArrow ElectronicsAvnetSynnexAnixter I...
                    Wholesalers: Food and Grocery                  SyscoUS Foods HoldingPerformance Food GroupCor...
                    Wholesalers: Health Care                       McKessonAmerisourceBergenCardinal HealthHenry ...

                                                                   Revenues  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          383835.0
Apparel             Apparel                                        101157.3
Business Services   Advertising, marketing                          23156.0
                    Diversified Outsourcing Services                74175.0
                    Education                                        6970.0
...                                                                     ...
Transportation      Trucking, Truck Leasing                         43676.0
Wholesalers         Wholesalers: Diversified                       130984.0
                    Wholesalers: Electronics and Office Equipment  122231.0
                    Wholesalers: Food and Grocery                  125908.0
                    Wholesalers: Health Care                       509026.0

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                          26733.5
Apparel             Apparel                                         6350.7
Business Services   Advertising, marketing                          1667.4
                    Diversified Outsourcing Services                5043.7
                    Education                                        393.5
...                                                                    ...
Transportation      Trucking, Truck Leasing                         3535.5
Wholesalers         Wholesalers: Diversified                        5231.5
                    Wholesalers: Electronics and Office Equipment   1259.4
                    Wholesalers: Food and Grocery                   1794.0
                    Wholesalers: Health Care                        7372.5

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                            1010124
Apparel             Apparel                                           355699
Business Services   Advertising, marketing                            127500
                    Diversified Outsourcing Services                  858600
                    Education                                          70653
...                                                                      ...
Transportation      Trucking, Truck Leasing                           208312
Wholesalers         Wholesalers: Diversified                          262390
                    Wholesalers: Electronics and Office Equipment     183518
                    Wholesalers: Food and Grocery                     135767
                    Wholesalers: Health Care                          162500

[82 rows x 4 columns]

In [21]:
sector_and_industry["Revenues"].sum()   # mean() / min() / max()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            383835.0
Apparel              Apparel                                          101157.3
Business Services    Advertising, marketing                            23156.0
                     Diversified Outsourcing Services                  74175.0
                     Education                                          6970.0
                                                                        ...
Transportation       Trucking, Truck Leasing                           43676.0
Wholesalers          Wholesalers: Diversified                         130984.0
                     Wholesalers: Electronics and Office Equipment    122231.0
                     Wholesalers: Food and Grocery                    125908.0
                     Wholesalers: Health Care                         509026.0
Name: Revenues, Length: 82, dtype: float64