# INTRODUCTION TO DATAFRAME OBJECTS

In [3]:
# Creating a dictionary
cities = {
    "knr": ["smart", 32.5, 7, "biryani"],
    "hyd": ["adv", 28.0, 3, "shahi murgi"],
    "trp": ["nice", 35.0, 4, "laddu"]
}

In [1]:
# imports
import numpy as np
import pandas as pd

In [7]:
# Converting a dicationary to a DataFrame
city_data = pd.DataFrame(cities, index=["type", "temp", "rating", "famous_food"])
city_data

                 knr          hyd    trp
type           smart          adv   nice
temp            32.5         28.0   35.0
rating             7            3      4
famous_food  biryani  shahi murgi  laddu

In [11]:
# The following two lines give the same result
city_data.T
city_data.transpose()

      type  temp rating  famous_food
knr  smart  32.5      7      biryani
hyd    adv  28.0      3  shahi murgi
trp   nice  35.0      4        laddu

In [12]:
random_data = np.random.randint(1, 100, (3, 5))
random_data

array([[82, 17, 26, 91, 61],
       [ 5, 75, 18, 16, 49],
       [38, 56, 49, 19, 50]], dtype=int32)

In [13]:
row_index = ["Morning", "Noon", "Evening"]
column_index = ["Mon", "Tue", "Wed", "Thu", "Fri"]
df = pd.DataFrame(data=random_data, index=row_index, columns=column_index)
df

         Mon  Tue  Wed  Thu  Fri
Morning   82   17   26   91   61
Noon       5   75   18   16   49
Evening   38   56   49   19   50

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.columns

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri'], dtype='object')

In [16]:
df.index

Index(['Morning', 'Noon', 'Evening'], dtype='object')

In [17]:
# referencing a column
df.Mon  # referring a column as an attribute

Morning    82
Noon        5
Evening    38
Name: Mon, dtype: int32

In [18]:
# referencing column using indexing
df["Tue"]

Morning    17
Noon       75
Evening    56
Name: Tue, dtype: int32

In [19]:
type(df.Mon)

pandas.core.series.Series

In [20]:
type(df["Tue"])

pandas.core.series.Series

In [21]:
# extracting two columns from a DataFrame
df[["Wed", "Fri"]]

         Wed  Fri
Morning   26   61
Noon      18   49
Evening   49   50

In [22]:
type(df[["Mon", "Thu"]])

pandas.core.frame.DataFrame

In [24]:
type(df[["Fri"]])

pandas.core.frame.DataFrame

### Attributes and Methods of a DataFrame

In [26]:
df.dtypes

Mon    int32
Tue    int32
Wed    int32
Thu    int32
Fri    int32
dtype: object

In [27]:
df.ndim

2

In [28]:
df.shape

(3, 5)

In [29]:
df.size

15

In [32]:
print(df.count().sum())

15

In [48]:
# sampling rows
df.sample(1)

         Mon  Tue  Wed  Thu  Fri
Morning   82   17   26   91   61

In [50]:
df.nunique()

Mon    3
Tue    3
Wed    3
Thu    3
Fri    3
dtype: int64