# INTRODUCTION TO PANDAS

- *Pandas* is a Python third-party library to work with tabular data for data analysis
- Installing pandas, along with numpy:

```
pip install numpy pandas
```

- To use *pandas* we need to import it:
    - *import pandas as pd*

#### In pandas, we work with two types of objects:
    - Series    - 1D (column)
    - DataFrame - 2D (rows and columns)

In [11]:
import numpy as np
import pandas as pd

## The Series Object

In [12]:
# Creating an empty series object
pd.Series()

Series([], dtype: object)

In [13]:
ice_creams = ["chocolate", "vanilla", "strawberry", "butterscotch", "mint"]
pd.Series(ice_creams)

0       chocolate
1         vanilla
2      strawberry
3    butterscotch
4            mint
dtype: object

In [14]:
pd.Series(data=ice_creams)

0       chocolate
1         vanilla
2      strawberry
3    butterscotch
4            mint
dtype: object

In [15]:
ice_creams = ["chocolate", "vanilla", "strawberry", "butterscotch", "mint"]
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
pd.Series(data=ice_creams, index=weekdays)

Mon       chocolate
Tue         vanilla
Wed      strawberry
Thu    butterscotch
Fri            mint
dtype: object

#### Examples of Series'

In [16]:
scores = [99, 85, 92, 88, 76]
pd.Series(scores)               # pd.Series(data=scores)

0    99
1    85
2    92
3    88
4    76
dtype: int64

In [17]:
bool_values = [True, False, True, True, False]
pd.Series(bool_values)         # pd.Series(data=bool_values)

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [18]:
temps = [36.5, 37.0, 38.2, 39.1, 36.8]
pd.Series(temps)               # pd.Series(data=temps)

0    36.5
1    37.0
2    38.2
3    39.1
4    36.8
dtype: float64

In [19]:
cities = ["Hyd", "Blr", "Che", "Tri", "Amr"]
pd.Series(data=cities)

0    Hyd
1    Blr
2    Che
3    Tri
4    Amr
dtype: object

##### Creating a Series with missing values

In [21]:
temperatures = [36.5, 37.0, 38.2, np.nan, 36.8] # np.nan represents missing value
pd.Series(temperatures)

0    36.5
1    37.0
2    38.2
3     NaN
4    36.8
dtype: float64

#### Creating a Series from Python dictionary

In [22]:
# dictionary
students_pers = {
    "Manu": 85,
    "Ravi": 89,
    "Sujitha": 88,
    "Suryani": 90,
    "Anil": 87
}
pd.Series(students_pers)

Manu       85
Ravi       89
Sujitha    88
Suryani    90
Anil       87
dtype: int64

#### Creating series from a tuple

In [23]:
sales = (100, 200, 150, 300, 250)
pd.Series(sales)

0    100
1    200
2    150
3    300
4    250
dtype: int64

#### Creating a Series from a Set
- Throws an error
- Convert the set to list/tuple

In [28]:
my_set = {"January", "February", "March", "April", "May"}
# pd.Series(my_set)       # Throws an error because sets are unordered
pd.Series(list(my_set))  # Converting set to list before creating Series

0     January
1    February
2       April
3         May
4       March
dtype: object

#### A series with random numbers

In [29]:
random_data = np.random.randint(1, 100, 10)
pd.Series(random_data)

0    86
1    13
2    11
3    79
4    12
5     6
6    27
7    51
8    17
9     3
dtype: int32

### Series Attribute

In [30]:
ice_creams = ["chocolate", "vanilla", "strawberry", "butterscotch", "mint"]
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
diet = pd.Series(data=ice_creams, index=weekdays)
diet

Mon       chocolate
Tue         vanilla
Wed      strawberry
Thu    butterscotch
Fri            mint
dtype: object

In [ ]:
# values attribute
diet.values

array(['chocolate', 'vanilla', 'strawberry', 'butterscotch', 'mint'],
      dtype=object)

In [32]:
type(diet.values)

numpy.ndarray

In [33]:
# index attribute
diet.index

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri'], dtype='object')

In [ ]:
# dtype for data type of the series
diet.dtype

dtype('O')

In [35]:
print(diet.dtype)

object

In [36]:
# size attribute for number of elements in the series
diet.size

5

In [ ]:
# shape attribute for dimensions of the series
diet.shape

(5,)

In [38]:
diet.values

array(['chocolate', 'vanilla', 'strawberry', 'butterscotch', 'mint'],
      dtype=object)

In [39]:
# is_unique attribute to check if all values are unique
diet.is_unique

True

In [40]:
# is_unique attribute to check if all values are unique
x = pd.Series([1, 2, 3, 4, 5, 1])
x.is_unique

False

In [42]:
mt = pd.Series([10, 20, 30, 40, 50])
# is_monotonic attribute to check if values are in increasing order
mt.is_monotonic_increasing

True

In [43]:
mt.is_monotonic_decreasing

False

### Retrieving the First and Last Rows

In [44]:
values = range(0, 500, 5)
nums = pd.Series(values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [ ]:
# head() / head(n) / head(n=5) method to get first n elements
nums.head()     # first 5 elements by default

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [46]:
nums.head(12)   # first 12 elements

0      0
1      5
2     10
3     15
4     20
5     25
6     30
7     35
8     40
9     45
10    50
11    55
dtype: int64

In [47]:
nums.head(n=3)  # first 3 elements

0     0
1     5
2    10
dtype: int64

In [48]:
# tail() / tail(n) / tail(n=5) method to get last n elements
nums.tail()     # last 5 elements by default

95    475
96    480
97    485
98    490
99    495
dtype: int64

In [49]:
nums.tail(n=4)  # last 4 rows

96    480
97    485
98    490
99    495
dtype: int64

In [50]:
nums.tail(7)    # last 7 elements

93    465
94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

## Mathematical Operations

### Statistical Operations

In [57]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [59]:
print(numbers.count())  # count of non-missing values

5

In [60]:
numbers.sum()    # sum of all elements

np.float64(15.0)

In [61]:
numbers.sum(skipna=False)

np.float64(nan)

In [62]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [63]:
numbers.sum(min_count=3)    # sum only if at least 3 non-missing values are present

np.float64(15.0)

In [64]:
numbers.sum(min_count=6)  # returns NaN since not all values are present

np.float64(nan)

In [65]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [66]:
numbers.product()  # product of all elements

np.float64(120.0)

In [67]:
numbers.product(skipna=False)

np.float64(nan)

In [68]:
numbers.product(min_count=3)

np.float64(120.0)

In [69]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [70]:
# cumsum()  Cumulative sum of elements
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [71]:
numbers.cumsum(skipna=False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [72]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [73]:
# pct_change() Percentage change between the current and a prior element
numbers.pct_change()

C:\Users\singa\AppData\Local\Temp\ipykernel_12660\384674353.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [ ]:
# forward fill
# [1, 2, 3, NaN, NaN 4, 5, NaN, 6] -> [1, 2, 3, 3, 3, 4, 5, 5, 6]
# ----- IGNORE ---
# backward fill
# [1, 2, 3, NaN, NaN 4, 5, NaN, 6] -> [1, 2, 3, 4, 4, 4, 5, 6, 6]

In [74]:
# The following lines below are equivalent: they are forward fill statements
numbers.pct_change()
numbers.pct_change(fill_method="pad")
numbers.pct_change(fill_method="ffill")

C:\Users\singa\AppData\Local\Temp\ipykernel_12660\1157216549.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()
C:\Users\singa\AppData\Local\Temp\ipykernel_12660\1157216549.py:3: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method="pad")
C:\Users\singa\AppData\Local\Temp\ipykernel_12660\1157216549.py:4: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method="ffill")

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [75]:
# The following lines below are equivalent: they are backward fill 
numbers.pct_change(fill_method="bfill")
numbers.pct_change(fill_method="backfill")

C:\Users\singa\AppData\Local\Temp\ipykernel_12660\594580177.py:2: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method="bfill")
C:\Users\singa\AppData\Local\Temp\ipykernel_12660\594580177.py:3: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method="backfill")

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [76]:
# mean() Average of all elements
numbers.mean()

np.float64(3.0)

In [77]:
# median() Median of all elements
numbers.median()

np.float64(3.0)

In [78]:
# std() Standard deviation of all elements
numbers.std()

np.float64(1.5811388300841898)

In [79]:
numbers.max()

np.float64(5.0)

In [80]:
numbers.min()

np.float64(1.0)

In [81]:
numbers.describe()  # Summary statistics of the series

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [87]:
# sample() Random sample of items from an axis of object
numbers.sample(3)   # Returns 3 random elements from the series

3    NaN
0    1.0
5    5.0
dtype: float64

In [88]:
books = pd.Series(["Attitude", "Caring", "Helping", "Learning", "Caring"])

In [89]:
# unique() Returns unique values in the series
books.unique()

array(['Attitude', 'Caring', 'Helping', 'Learning'], dtype=object)

In [90]:
# nunique() Returns number of unique values in the series
books.nunique()

4

### Arithmetic Operations

In [91]:
s1 = pd.Series(data=[5, np.nan, 15], index=["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [92]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [93]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [94]:
# The three lines below are equivalent
s1 - 5
s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [95]:
# The three lines below are equivalent
s1 * 3
s1.mul(3)
s1.multiply(3)

A    15.0
B     NaN
C    45.0
dtype: float64

In [96]:
# The Three lines below are equivalent
s1 / 2
s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [97]:
# The two lines below are equivalent
s1 // 2
s1.floordiv(2)

A    2.0
B    NaN
C    7.0
dtype: float64

In [98]:
# The two lines below are equivalent
s1 % 3
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64