# MERGING, JOINING & CONCATENATING

In [36]:
# imports
import numpy as np
import pandas as pd

In [37]:
groups1 = pd.read_csv("./data/groups1.csv")
groups2 = pd.read_csv("./data/groups2.csv")
categories = pd.read_csv("./data/categories.csv")
cities = pd.read_csv("./data/cities.csv")

In [38]:
# Concatenating two dataframes
# placing the rows of second dataframe after the first dataframe
groups = pd.concat(objs=[groups1, groups2],
                   ignore_index=True,
                   keys=["G1", "G2"])
groups

,group_id,name,category_id,city_id
0,6388,Alternative Health NYC,14,10001
1,6510,Alternative Energy Meetup,4,10001
2,8458,NYC Animal Rights,26,10001
3,8940,The New York City Anime Group,29,10001
4,10104,NYC Pit Bull Group,26,10001
...,...,...,...,...
16325,26377464,Shinect,34,94101
16326,26377698,The art of getting what you want [conference s...,14,94101
16327,26378067,Streeterville Running Group,9,60601
16328,26378128,Just Dance NYC,23,10001
16329,26378470,FREE Arabic Chicago Evanston North Burbs,31,60601

### INNER JOINS

In [39]:
# Merge two dataframes based on common values from a single column in both dataframes
# first dataframe is groups and second dataframe is categories
groups.merge(categories, how="inner", on="category_id")

,group_id,name,category_id,city_id,category_name
0,6388,Alternative Health NYC,14,10001,Health & Wellbeing
1,6510,Alternative Energy Meetup,4,10001,Community & Environment
2,8940,The New York City Anime Group,29,10001,Sci-Fi & Fantasy
3,10359,NYC International Arabic Language & Culture Club,16,10001,Language & Ethnic Identity
4,12111,The New York City American Sign Language Meetu...,16,10001,Language & Ethnic Identity
...,...,...,...,...,...
8032,26374579,Digital Film Academy Production Pitch,20,10001,Movies & Film
8033,26374655,Vocabulary workhop,16,94101,Language & Ethnic Identity
8034,26377698,The art of getting what you want [conference s...,14,94101,Health & Wellbeing
8035,26378067,Streeterville Running Group,9,60601,Fitness
8036,26378128,Just Dance NYC,23,10001,Outdoors & Adventure

In [40]:
groups.merge(
    cities,
    how="inner",
    left_on="city_id",
    right_on="id"
)

,group_id,name,category_id,city_id,id,city,state,zip
0,6388,Alternative Health NYC,14,10001,10001,New York,NY,10001
1,6510,Alternative Energy Meetup,4,10001,10001,New York,NY,10001
2,8458,NYC Animal Rights,26,10001,10001,New York,NY,10001
3,8940,The New York City Anime Group,29,10001,10001,New York,NY,10001
4,10104,NYC Pit Bull Group,26,10001,10001,New York,NY,10001
...,...,...,...,...,...,...,...,...
16325,26377464,Shinect,34,94101,94101,San Francisco,CA,94101
16326,26377698,The art of getting what you want [conference s...,14,94101,94101,San Francisco,CA,94101
16327,26378067,Streeterville Running Group,9,60601,60601,Chicago,IL,60290
16328,26378128,Just Dance NYC,23,10001,10001,New York,NY,10001
16329,26378470,FREE Arabic Chicago Evanston North Burbs,31,60601,60601,Chicago,IL,60290

### Outer Join

In [41]:
groups.merge(
    cities,
    how="outer",
    left_on="city_id",
    right_on="id",
    indicator=True
)

,group_id,name,category_id,city_id,id,city,state,zip,_merge
0,19525264.0,West NY | Hoboken | Social Group 20s & 30s,31.0,7093.0,7093,West New York,NJ,7093,both
1,20240670.0,Nerdy NJ/NY,11.0,7093.0,7093,West New York,NJ,7093,both
2,20395344.0,The Founding Moms' Exchange: North Jersey,2.0,7093.0,7093,West New York,NJ,7093,both
3,21130076.0,West New York Playdates for little ones,25.0,7093.0,7093,West New York,NJ,7093,both
4,21825714.0,Women~Wellness~Wisdom,14.0,7093.0,7093,West New York,NJ,7093,both
...,...,...,...,...,...,...,...,...,...
16329,26373602.0,Earndotcom: SF's most awesome digital currency...,34.0,94101.0,94101,San Francisco,CA,94101,both
16330,26374655.0,Vocabulary workhop,16.0,94101.0,94101,San Francisco,CA,94101,both
16331,26377464.0,Shinect,34.0,94101.0,94101,San Francisco,CA,94101,both
16332,26377698.0,The art of getting what you want [conference s...,14.0,94101.0,94101,San Francisco,CA,94101,both
16333,NaN,NaN,NaN,NaN,95712,Chicago Park,CA,95712,right_only

In [42]:
cities = cities.set_index("id")
cities

                      city state    zip
id
7093         West New York    NJ   7093
10001             New York    NY  10001
13417       New York Mills    NY  13417
46312         East Chicago    IN  46312
56567       New York Mills    MN  56567
60064        North Chicago    IL  60064
60185         West Chicago    IL  60185
60411      Chicago Heights    IL  60411
60415        Chicago Ridge    IL  60415
60601              Chicago    IL  60290
94080  South San Francisco    CA  94080
94101        San Francisco    CA  94101
95712         Chicago Park    CA  95712

### Merging On Index Labels

In [43]:
groups.merge(
    cities,
    how="left",
    left_on="city_id",
    right_index=True
    )

,group_id,name,category_id,city_id,city,state,zip
0,6388,Alternative Health NYC,14,10001,New York,NY,10001
1,6510,Alternative Energy Meetup,4,10001,New York,NY,10001
2,8458,NYC Animal Rights,26,10001,New York,NY,10001
3,8940,The New York City Anime Group,29,10001,New York,NY,10001
4,10104,NYC Pit Bull Group,26,10001,New York,NY,10001
...,...,...,...,...,...,...,...
16325,26377464,Shinect,34,94101,San Francisco,CA,94101
16326,26377698,The art of getting what you want [conference s...,14,94101,San Francisco,CA,94101
16327,26378067,Streeterville Running Group,9,60601,Chicago,IL,60290
16328,26378128,Just Dance NYC,23,10001,New York,NY,10001
16329,26378470,FREE Arabic Chicago Evanston North Burbs,31,60601,Chicago,IL,60290